{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
  <div class="row">
  <div class="col-md-offset-4 col-md-4">
    <div class="container">
  <p>
  Bitte mit dem Uni-Kürzel (z.B. mamus100) als Nutzername einloggen!
  </p>
  </div>
  {% include 'registration/form_errors.html' %}
  <form method="post" action="{% url 'auth_login' %}">{% csrf_token %}
    {% include 'registration/form_fields.html' %}

    <p><a href="{% url 'auth_password_reset' %}">Forgot</a> your password?  <a href="{% url 'registration_register' %}">Need an account</a>?</p>
    <input type="submit" class="btn btn-default" value="Login" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
  </div>
  </div>
{% endblock %}
