.shift-schedule {
    margin: auto;
}

.shift-schedule table {
    position: relative;
    margin: auto;
    background: white;
    border-collapse: collapse;
}

.shift-schedule th {
    border-bottom: solid;
}

.shift-schedule-table {
    width: 50%;
}
.shift-schedule-table-head {
    border-right: solid black;
}

.toggle-button {
    width: 20%;
}