{% extends "base_nav.html" %}
{% load staticfiles %}

{% load schedule_table_tags %}

{% block heading%}
    <script src="{% static  "PartyShiftSchedule/js/main.js" %}"></script>
    <link rel="stylesheet" href="{% static "PartyShiftSchedule/css/main.css" %}">
{% endblock %}

{% block content %}

    <div class="shift-schedule table-responsive ">
        <table class="table" style="height: 0px">
            <thead>
            <tr>
                <th scope="col">Zeit</th>
                {% for position in positions %}
                    <th scope="col">{{ position.name }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for time in times %}
                <tr>
                <th scope="row">{{ time.beginning|date:"H:i"}}</th>
                {% for position in positions %}
                    <td style="height: 100%">
                    {% table_block time position user %}
                    </td>
                {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}