{% extends "base.html" %}
{% load staticfiles %}

{% load schedule_table_tags %}

{% block heading%}
    <link rel="stylesheet" type="text/css" href="{% static "PartyShiftSchedule/css/partyShiftSchedule.css" %}">
{% endblock %}

{% block content %}

    <div class="shift-schedule">
        <table class="shift-schedule-table">
            <thead>
            <tr>
                <th>Time</th>
                {% for position in positions %}
                    <th colspan={{ position.pref_users }}>{{ position.name }}</th>
                {% endfor %}
            </tr>
            </thead>
            {% for row in rows %}
                {{ row | schedule_table_row | safe }}
            {% endfor %}
        </table>
    </div>

{% endblock %}