{% extends "base.html" %}
{% load staticfiles %}
{% load schedule_table_tags %}

{% block heading%}
    <script src="{% static  "PartyShiftSchedule/js/main.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="shift-schedule">
        <table class="table">
            <thead>
            <tr>
                <th class="shift-schedule-table-head">Times</th>
                {% for position in positions %}
                    <th>{{ position.name }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for time in times %}
                <tr>
                    <td class="shift-schedule-table-head">{{ time.beginning|date:"H:i" }}</td>
                    {% for position in positions %}
                        <td>
                            <span class="button-checkbox">
                                <button type="button" class="btn" data-color="primary">Ich helfe!</button>
                                <input type="checkbox" class="hidden"
                                       onchange="handleToggleButton(this)"
                                       data-time="{{ time.id }}"
                                       data-position="{{ position.id }}"
                                       data-csrftoken="{{ csrf_token }}" >
                            </span>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}