{% extends "base.html" %}
{% load staticfiles %}
{% load schedule_table_tags %}

{% block heading%}
    <link rel="stylesheet" type="text/css" href="{% static "PartyShiftSchedule/css/partyShiftSchedule.css" %}">
    <script src="{% static  "PartyShiftSchedule/js/main.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="shift-schedule">
        <table class="table">
            <thead>
            <tr>
                <th class="shift-schedule-table-head">Times</th>
                {% for position in positions %}
                    <th>{{ position.name }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for time in times %}
                <tr>
                    <td class="shift-schedule-table-head">{{ time }}</td>
                    {% for position in positions %}
                        <td>
                            <input type="checkbox" onchange="handleToggleButton(this)" data-time="{{ time.beginning }}" data-position="{{ position.name }}" data-csrftoken="{{ csrf_token }}" >
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}